*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0f172a;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.contenedor{
    width:100%;
    display:flex;
    justify-content:center;
}

.login{

    width:360px;
    background:white;
    padding:35px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,.3);

}

.login h1{

    text-align:center;
    color:#2563eb;
    margin-bottom:10px;

}

.login p{

    text-align:center;
    color:#555;
    margin-bottom:25px;

}

.login input{

    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:8px;
    outline:none;
    font-size:15px;

}

.login input:focus{

    border-color:#2563eb;

}

button{

    width:100%;
    padding:12px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;

}

button:hover{

    background:#1d4ed8;

}

